### Содержание

#### [Задание 1: Имена](#names)
#### [Задание 2: IP-адреса](#ip)
#### [Задание 3: Оценка уроков](#lessons)

## Задание 1: Имена<a name="names"></a>

### Исходные данные

[names.txt](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/c47a2634-d6cf-4b2b-9229-95fbdbe92cae/names.txt)

В текстовом файле содержится набор имён.

### Задача

Нужно выполнить следующие действия и вывести результат вычислений:

1. Отсортировать все имена в лексикографическом порядке.
2. Посчитать для каждого имени алфавитную сумму – сумму порядковых номеров букв (MAY: 13 + 1 + 25 = 39).
3. Умножить алфавитную сумму каждого имени на порядковый номер имени в отсортированном списке (индексация начинается с 1). Например, если MAY находится на 63 месте в списке, то результат для него будет 63 * 39 = 2457.
4. Сложить произведения из п. 3 для всех имен из файла и получить число.
5. Вывести полученную сумму.

In [1]:
# загружаем нужные библиотеки для обработки данных

import pandas as pd
import numpy as np
import datetime as dt

from collections import Counter

In [2]:
names_df = pd.read_csv('names.txt', sep=',', header=None).T
names_df.head()

           0
0       MARY
1   PATRICIA
2      LINDA
3    BARBARA
4  ELIZABETH

In [3]:
names_df.columns = ['names']  #название колонки
names_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5165 entries, 0 to 5164
Data columns (total 1 columns):
names    5164 non-null object
dtypes: object(1)
memory usage: 80.7+ KB

#### Отсортировать все имена в лексикографическом порядке

In [4]:
names_df = names_df.sort_values(by='names').reset_index(drop=True)
names_df.dropna(inplace=True)  # удалим отсутствующие значения
names_df.tail()

        names
5159     ZORA
5160  ZORAIDA
5161     ZULA
5162   ZULEMA
5163    ZULMA

In [5]:
names_df.duplicated().sum()     # дубликаты, даже если бы и были - удалять не нужно

0

In [6]:
# удалить пробелы
names_df = names_df.replace(r'\s+','',regex=True)

#### Посчитать для каждого имени алфавитную сумму – сумму порядковых номеров букв (MAY: 13 + 1 + 25 = 39).

In [7]:
# переменная для назначения буквам порядковой цифры
num_alphabet = dict([tuple(reversed(i)) for i in enumerate('ABCDEFGHIJKLMNOPQRSTUWVXYZ', 1)]);

# функция сумирования перебора букв(цифр)
def func_name(data):
    s = sum([num_alphabet[i] for i in data])
    return s;

names_df['names_sum'] = list(map(func_name, names_df['names']))   # применение функции
names_df.head()

   names  names_sum
0  AARON         49
1  ABBEY         35
2  ABBIE         19
3   ABBY         30
4  ABDUL         40

In [8]:
names_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5164 entries, 0 to 5163
Data columns (total 2 columns):
names        5164 non-null object
names_sum    5164 non-null int64
dtypes: int64(1), object(1)
memory usage: 121.0+ KB

#### Умножить алфавитную сумму каждого имени на порядковый номер имени в отсортированном списке (индексация начинается с 1). Например, если MAY находится на 63 месте в списке, то результат для него будет 63 * 39 = 2457.

In [9]:
names_df['multiply_names'] = names_df['names_sum'] * (names_df.index + 1)
names_df

        names  names_sum  multiply_names
0       AARON         49              49
1       ABBEY         35              70
2       ABBIE         19              57
3        ABBY         30             120
4       ABDUL         40             200
...       ...        ...             ...
5159     ZORA         60          309600
5160  ZORAIDA         74          381914
5161     ZULA         60          309720
5162   ZULEMA         78          402714
5163    ZULMA         73          376972

[5164 rows x 3 columns]

#### Сложить произведения из п. 3 для всех имен из файла и получить число и вывести полученную сумму.

In [10]:
'Сумма всех произведений алфавитных сумм имен на место по индексу {:,}'.format(names_df.multiply_names.sum())

'Сумма всех произведений алфавитных сумм имен на место по индексу 872,141,665'

## Задание 2: IP-адреса<a name="ip"></a>

### Исходные данные

[hits.txt](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/f4f86e5b-f716-478a-9750-5960998f852f/hits.txt)

Файл состоит из строк вида: `<host>\t<ip>\t<page>\n`, где host — корневой домен, ip — IP-адрес, page — «хвост» ссылки.

### Задача

Необходимо вывести 5 IP-адресов, которые встречаются в файле чаще других.

In [11]:
ip_df = pd.read_csv('hits.txt', sep='\t', header=None)
ip_df.head()

,0,1,2
0,https://wikipedia.org,72.110.191.15,/friends/files
1,rambler.ru,142.93.168.247,/universe.php
2,ftp://info.itar-tass.com,90.68.118.69,/login/monitors/static/me
3,http://altavista.com,18.79.197.236,/friends/tasks/universe
4,ftp://tetrika-school.ru,115.26.250.226,/translate/anekdots/my-files/monday

In [12]:
ip_df.columns = ['host', 'ip', 'page']
ip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1247036 entries, 0 to 1247035
Data columns (total 3 columns):
host    1247036 non-null object
ip      1247036 non-null object
page    1247036 non-null object
dtypes: object(3)
memory usage: 28.5+ MB

"Пустых" данных нет. Дублкаты искать нет смысла иначе удалим 5 наиболее часто встречающихся ip   

**ТОП=5 наиболее часто стречающихся IP адресов**

In [13]:
ip_df['ip'].value_counts().head()

154.157.157.156    1531
82.146.232.163     1505
226.247.119.128    1494
194.78.107.33      1494
21.143.243.182     1479
Name: ip, dtype: int64

## Задание 3: Оценка уроков<a name="lessons"></a>

*В нашей школе ученики и репетиторы занимаются в специальном онлайн-классе, в котором они могут общаться друг с другом, рисовать на доске, переписываться в чате, обмениваться файлами и решать различные задачки. Информацию о каждом уроке мы записываем в базу данных в таблицу lessons. На каждом таком уроке присутствует один репетитор и один ученик. В конце урока, когда учитель и ученик покидают класс, им предлагается по желанию оценить качество пройденного урока по пятибальной шкале. Оценки мы записываем в таблицу quality.*

### Исходные данные

[tech_quality.zip](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/f35472a4-8bd2-49fa-b69b-a86349b6040b/tech_quality.zip)

В архиве содержится четыре файла с выгрузкой строк из базы.

#### ПОЛЬЗОВАТЕЛИ
Файл **users.txt** хранит информацию о пользователях:

- id – уникальный идентификатор пользователя
- role – указывает, является ли пользователь учеником (pupil) или учителем (tutor)

In [14]:
users_df = pd.read_csv('users.txt')
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 1 columns):
                  id                  | role      745 non-null object
dtypes: object(1)
memory usage: 5.9+ KB

одна колонка с нестандартным названием

In [15]:
users_df.head()

                     id                  | role
0  --------------------------------------+-------
1    e28351f5-4ccb-4549-8647-d43f2b15e7b8 | pupil
2    4df2832a-1d63-4453-9659-43993fc35996 | tutor
3    bb1c0bc8-1212-452b-97a0-439d4a2169e2 | pupil
4    63441abe-c4da-4275-ba26-66f7dbd65dde | tutor

In [16]:
users_df.columns    # название столбца

Index(['                  id                  | role  '], dtype='object')

In [17]:
# разделим колонку на несколько столбцов
users_df = users_df['                  id                  | role  '].str.split(expand=True)
users_df.head()

                                                0     1      2
0  --------------------------------------+-------  None   None
1            e28351f5-4ccb-4549-8647-d43f2b15e7b8     |  pupil
2            4df2832a-1d63-4453-9659-43993fc35996     |  tutor
3            bb1c0bc8-1212-452b-97a0-439d4a2169e2     |  pupil
4            63441abe-c4da-4275-ba26-66f7dbd65dde     |  tutor

In [18]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 3 columns):
0    745 non-null object
1    744 non-null object
2    743 non-null object
dtypes: object(3)
memory usage: 17.6+ KB

In [19]:
users_df.rename(columns={0: 'user_id', 2: 'role'}, inplace=True)   # переименуем столбцы
users_df.drop(1, axis=1, inplace=True)                             # удалим ненужный столбец
users_df.dropna(inplace=True)                                      # удалим строки не несущие информацию
users_df = users_df.replace(r'\s+','',regex=True)                  # удалить пробелы
users_df.head()                                                    # проверка

                                user_id   role
1  e28351f5-4ccb-4549-8647-d43f2b15e7b8  pupil
2  4df2832a-1d63-4453-9659-43993fc35996  tutor
3  bb1c0bc8-1212-452b-97a0-439d4a2169e2  pupil
4  63441abe-c4da-4275-ba26-66f7dbd65dde  tutor
5  a1323b68-c82c-429a-8e2c-65597e648c1a  tutor

In [20]:
# проверим дубликаты
users_df.duplicated().sum()

475

In [21]:
users_df[users_df.duplicated()]          # что за дубликаты

                                  user_id   role
11   63441abe-c4da-4275-ba26-66f7dbd65dde  tutor
13   43efce48-94b2-4412-857f-223d45969008  tutor
21   30a19496-bdaf-461c-abbc-2709ae520201  tutor
25   ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb  tutor
29   43efce48-94b2-4412-857f-223d45969008  tutor
..                                    ...    ...
736  8476b612-223f-4c86-9b0b-14bc04759233  tutor
737  ab7149fc-b650-4b6b-a368-0581f78276ea  pupil
738  8476b612-223f-4c86-9b0b-14bc04759233  tutor
740  ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb  tutor
742  ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb  tutor

[475 rows x 2 columns]

In [22]:
Counter(users_df['user_id'])  # количество упоминаний

Counter({'e28351f5-4ccb-4549-8647-d43f2b15e7b8': 2,
         '4df2832a-1d63-4453-9659-43993fc35996': 15,
         'bb1c0bc8-1212-452b-97a0-439d4a2169e2': 3,
         '63441abe-c4da-4275-ba26-66f7dbd65dde': 23,
         'a1323b68-c82c-429a-8e2c-65597e648c1a': 2,
         'e866fbd8-a46b-4431-9e19-f0966981f6c9': 2,
         '4ab072ed-8a41-4ed6-9877-8f1d1fbb24d2': 1,
         '30a19496-bdaf-461c-abbc-2709ae520201': 7,
         '43efce48-94b2-4412-857f-223d45969008': 33,
         '6daa4b70-1e22-46c8-bcb4-22d452e4add1': 1,
         '2ebe48bd-0d4b-41e3-9f7e-02e006227df9': 3,
         'e4e0a62e-5f9f-4d44-aa3f-e6827a926d9f': 2,
         'ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb': 25,
         'ab9a1804-b421-43d7-b052-84e15a1d8072': 1,
         '8fe03f08-8581-430c-a590-9888ab36deb3': 24,
         '3c5d30e3-8831-490e-a2a4-63e6ff1c33bb': 6,
         '696c838e-c054-4e9f-a51a-50bf5660f364': 18,
         '621ea7d1-5ffc-494a-a877-dd7d9c75bb79': 4,
         '5ac42f66-8533-46ab-9ccf-11aead34601f': 2,
         'b37ccae8-fc31-4ad8-8f55-ca855b23fbf6': 19,
         'baf18014-cd9a-4932-a2c0-729438c7f831': 5,
         'e8e6aaef-db62-41c2-aaed-395b240cbdd8': 2,
         '07bce6b2-ef5c-450d-9565-966c41260440': 1,
         'c21c9daa-83d8-4804-b3e8-405addcfddb8': 1,
         '3de70be3-7ede-41c0-a5f3-90e62ab4366e': 1,
         '8476b612-223f-4c86-9b0b-14bc04759233': 17,
         '38e5889b-ecdb-428b-9e9d-fb786ad35702': 4,
         '1596b1b3-43ff-4f97-948f-06d240666f52': 1,
         '603b8641-c6f6-4d89-ac89-88e50d45aa0d': 8,
         '9d9029a2-c81a-49f7-84ee-7696eecd2f99': 2,
         '1071280f-18dd-40aa-bfed-248b003c09d3': 2,
         '220a5efc-4016-498b-ab9b-ac3208e564a3': 2,
         '61b0d9ee-1076-41ba-9ed6-ae29bdeaa2ca': 1,
         '74cc3ea9-8e49-4ab8-98e9-be20f7f0692b': 3,
         '2d4b8c71-3228-4293-b9ae-c2e5d826310a': 10,
         '2babd7d7-18e1-4cf8-9a3a-b3d8f75f6396': 7,
         '5c744ad1-83dc-4150-ba8c-217d7dce2730': 1,
         '108b338d-ee0a-439a-8472-67e03ee5ec1b': 2,
         '0b915033-7cbd-41b2-b27d-6295d3bfcac5': 2,
         'fea6eede-37cc-45a1-8f3b-6548c0c5f219': 1,
         'a6e9fdbc-2507-4290-8720-8a49ed746eb9': 4,
         '67a1f125-35cc-4af9-abd1-369e8844330e': 1,
         'c6718d0e-976c-4d6c-b0e0-32c770776567': 11,
         '98a5ac48-06ae-4ead-9af2-da01d16468d7': 2,
         'dbfbb7f2-adc9-45e4-bae7-6e0b42b0ecc7': 12,
         'fc120a53-e799-4b94-8424-3116ee684c0e': 1,
         '6a578a6e-39a4-4c6b-8b0a-f00f6b2dcd79': 15,
         '40971988-f51f-4f75-a4eb-47611f27358a': 3,
         '9573d3e8-d894-4425-a378-0939526131bb': 2,
         '4bca9d35-b0dc-457b-b968-a3125de2d0bd': 15,
         '88b915a6-9b3a-4580-a16c-1067d013cce7': 2,
         '3b20e44c-352f-4a9a-9881-d1cf64e9313c': 2,
         '7ac76f84-875d-46fb-957a-ba0e390fe539': 9,
         '9cd423e0-39a8-4204-9c3c-dc737117dc38': 1,
         '752423c3-9632-4a81-b325-ecfd302a1859': 9,
         '5b41e646-ddee-4a27-a792-234bcfcaf716': 5,
         '264a8b76-c652-4a57-8233-ffe9b2ef122c': 1,
         'f0a766fe-155e-47a0-b81b-25274b938c82': 1,
         '6de0b932-99f6-42ca-9e29-6cf7e0d2b2e8': 2,
         'd0e52a15-c319-466e-ab53-fc7877566715': 9,
         '244bbcbe-8e74-4bd3-9f0c-5a59a374e668': 2,
         '5e28bcaf-2aa7-4e20-b071-121585004322': 2,
         '1b99ff07-a520-44dc-9f1b-38d98c85fcb3': 13,
         '7f2e7717-3e5d-4195-b7d5-d6c626b11be9': 1,
         '22d2f2ca-25cc-48fd-8297-37f0cac7ef61': 2,
         'f72b84b5-a5a0-4655-8c8b-c84a22735a27': 1,
         'c3b6eeff-8b8a-4cca-ab15-5e8ff106917a': 3,
         '015713e8-dac9-4cd0-9a39-6ad23146346e': 1,
         '72897b41-a82f-4f75-91f8-85caa6f1dfb2': 2,
         '21fff320-613f-4091-8fa9-f93fbe984f9e': 1,
         '11530ed1-0378-46dc-b838-7885ab0988d5': 2,
         'af6c8f96-2e2d-4021-a824-46f40117fe9b': 1,
         '9d05dd20-fc30-4e60-a85c-a8333c5ec875': 1,
         'a0a1ca0f-0de5-4f1c-a729-d7c4792457aa': 2,
         '6669014e-04b3-480e-a827-3c9fe7755b76': 3,
         '069eac09-8cb1-4223-b118-9f687eec8903': 4,
         '20ee67a0-1c94-4828-9a09-49c16b65f4b5': 3,
         'c0c073c8-cb9c-4ebc-ac13-472c06029591': 11,
         '4768cfb2-6170-422b-bc6f-61262f07ac7d': 2,
         'de50bdc3-4598-4792-9ca1-59bc5de46192': 2,
         '50fd9341-6f4e-4105-91aa-57f14222bd3c': 2,
         '2fa2ab62-f1b0-4036-872f-bcfd9a8686ff': 8,
         '9b26952c-3470-4032-a9cd-f1e9d4f90ece': 5,
         'abac0e59-f8b1-4f91-a6e9-ec062719cabd': 2,
         'a256b2f2-acbc-4ac6-ac80-cb9806e92693': 3,
         'e9aae3a0-04a1-4f91-9c75-7344981750de': 2,
         '11a539ba-e942-426e-963c-03e2f8e865b9': 2,
         'd55d2b6e-2259-47f6-9a11-b0c70827ecb8': 2,
         'dcda0f83-3975-409f-93a9-3f8227d76ff9': 2,
         'f86daaf7-5fac-48c3-9b2e-a573234472af': 2,
         'cc4ce43d-60b0-4acd-8226-2f1bb90faac8': 2,
         'e3fc595e-73cc-42d9-852c-44962d89f323': 2,
         'be676776-8366-4c71-8a35-d58014806eb5': 3,
         '2b573e25-bc70-406c-9896-b196b4e0a0be': 2,
         'f6263582-489a-4abc-b19d-a2381b026e28': 2,
         'c616e1aa-c394-4719-9883-e5e45c55f422': 1,
         '5b9d113e-2911-4b08-9fdb-35e665dc4a62': 2,
         'ecf338aa-2007-4340-b9ae-c4636e34730b': 2,
         'f2f25148-97cb-422d-a5b5-b0dabbca0523': 3,
         '39c9854e-0b3e-4269-9c7e-2122e48c4829': 3,
         'f4045efd-d596-4691-b7db-d3e64036f743': 2,
         'f3b12049-e63f-42a8-951b-3db0809c62c8': 1,
         'f6fe6efa-5f8f-44d9-849f-2f2b4d42a8e1': 2,
         '8906a07a-b33d-4371-8b34-6d217cf31c73': 3,
         '28229364-321a-46f7-a683-2a039d649389': 1,
         '0bd5646f-8b43-4494-b773-8d8b22107af8': 5,
         'f5ea4e53-15f8-41a5-96de-f20dc162eb4b': 2,
         '435be489-4ca3-46aa-bbfa-598abdeb454e': 6,
         '22175a94-271e-4aed-a978-87d8b6e325d9': 2,
         '6183945e-29ba-4c1d-b3eb-e68f8aa1bf00': 2,
         '4b554497-2a62-4244-8707-7798bde57c1d': 2,
         '8480e88d-7730-460f-9704-0776700bdb3c': 1,
         '24e6ab3e-7057-4d91-8a4c-a159da6cf0b5': 3,
         '9f4aab9a-7ad6-4eac-bfbe-18b2fdab4bb3': 1,
         '9c2ccb50-b72b-49c1-95b3-3e9cee9d512e': 3,
         'b9cc677b-8691-43a4-b730-62a60665d231': 2,
         '5b00e607-13c0-40e4-aacf-22142d339074': 4,
         '4f9a197c-02f6-4b83-bfc0-c29a7ca37e91': 8,
         'e2e86c24-d319-40f0-8461-e46d041adb8b': 1,
         'b1fe2c06-d284-4698-9f07-495c8f991700': 4,
         'c0ea86b7-b6cb-4da6-94d7-f0dc2175f5b2': 4,
         'ac9d73e0-1b42-4031-8edd-2dce14fa3305': 2,
         '4045c46d-2be7-4593-af95-bc86ca95b296': 1,
         'dfd12ba1-8a59-4355-919c-2e2adcc5ff5c': 2,
         '64812051-5ea2-4f11-ab9f-5b1fd4e9b6a6': 1,
         '87947747-2e64-4659-9699-010576a37f24': 7,
         '431f479e-37c3-4160-bd24-211e798018e7': 1,
         '05b9e80b-06e7-4d3d-9845-24fa7c5fb702': 3,
         'd8b85ebe-487c-4e1f-bac5-0acad6c9afe3': 2,
         '0d688d4b-b5b7-4519-ab32-785138b3a330': 2,
         '21a13ace-57b6-492e-8ba2-7f1e3a7945e1': 1,
         'e4305046-053d-4a41-9dba-7128a45ebc39': 1,
         '08ecbbf1-ef78-4fd2-a1e9-f57a1f069b8b': 1,
         'b937d0ce-4bc9-4b22-90bc-21ca1e34e316': 2,
         '8430de9a-5748-40d3-a605-ee5f0af07e46': 1,
         '4aa48734-805c-4a9b-a985-23322964a10a': 1,
         '446fdd4e-3c5a-4eb4-b95b-2f0b4378b36e': 2,
         'bcc358d9-da05-4dda-a1d6-4550130a7d1e': 2,
         'fd738855-4a30-4de1-bb95-c38e1827fa88': 1,
         'c8b6b1e9-c1a5-441c-8649-44d80b8a365b': 2,
         '4d509bb4-91af-4286-bd9d-880648209248': 1,
         '6f6c8470-3b3b-4bf2-b07c-932661f60368': 2,
         '7ce1eb82-63a1-4967-97cc-abb6017def1c': 1,
         '47582c65-ba67-4cf1-af36-32b8d5301cf9': 4,
         '36604ca2-9099-48fe-873e-2b6f0d52e7c3': 2,
         'e2f4faa7-2d8c-4c3c-b678-a4a8d73d259a': 2,
         '5f8bdb9f-8687-4d32-b638-36893bdce8da': 2,
         '8143996d-3dfe-47c2-b8d3-fc62bc02562d': 1,
         '50df1f63-8404-4d33-84d7-c14e271761bc': 1,
         'a5b642ee-0003-4a59-8778-acdb7b3af7b3': 1,
         'd7e1d0ea-452e-43b0-b840-a8ab0945f9cd': 1,
         'a0bf1258-a6bc-4a4b-b61c-f499cd42c233': 1,
         '32f3d7f9-c4b3-4e9d-b6d7-a3b891beae7b': 1,
         '8a98866f-fdbe-41b3-9bf7-8358162be0f6': 2,
         '84d132bf-75bb-41f8-9621-790f57af9852': 1,
         '221e2133-6885-4a95-a7bc-29e7fbdeba9d': 1,
         '3ea5aed7-363a-441b-859d-2aa6bc2c7f0d': 1,
         '69f65d2a-fd10-4d9a-9c97-6c47ffa09c0e': 2,
         '93bc0cbb-b185-47a9-b92f-8ca85d2b3ba2': 2,
         '0a2a006d-3888-4fdd-8507-794fac27cf17': 1,
         'b79f80c7-1d6f-4c69-9905-369c403dc7bc': 1,
         '67701cfc-a458-49a5-b12f-fd7476b06884': 3,
         '9f68de81-22f4-486f-877f-aaa9cac98c83': 1,
         '3adece4e-2e2f-4a7d-bcfb-ca22000e1566': 1,
         'c5831af5-254a-4c95-9ec3-54ade7343292': 1,
         '4a3c2446-3d3b-41e0-be30-24a9ed701712': 1,
         'f026a7c6-2c0a-46e4-9895-e646b7a72425': 2,
         'fde0e67a-5c1c-41b0-a3e2-7e78e701ee11': 2,
         '5ad3df76-30f4-49b8-98d7-73a3009c12d9': 2,
         'f5f4ac6d-058e-4b13-a166-cc7c1d10e692': 1,
         '9fb06bee-2076-4bcf-8c43-25021f65f0e7': 1,
         'c3fb9ea1-2587-4295-ac22-e75a3fa64468': 1,
         'f482c818-b31c-4aa0-b00c-a6c56a9ddfc9': 1,
         'd47b7f1e-bb5c-410f-8355-b99824a5802d': 1,
         '9130fc61-d85e-4f68-97bf-71b24f88d35f': 1,
         '52c4577e-2e99-41cc-ad15-31af1975db24': 2,
         '0f58f0b1-3b88-4abe-b825-f631cc326370': 1,
         'ef899367-5dfb-406e-85b3-2db3ffad8ee2': 1,
         'c365f2b5-6c48-4df2-aa38-99642f241212': 1,
         '70d4f068-44be-4db7-b476-ceb4be223f0d': 1,
         'b054eff6-02e8-4893-af77-9d3b0a276fed': 3,
         'b4e08cac-ebc8-40df-804e-b216fb6da96d': 1,
         'a480c311-f66c-4cb7-a943-59322ea3687c': 1,
         '64e8ade7-0f51-4929-99af-bdb543ba20f3': 2,
         'c31d06f1-b667-489f-af70-d2c88402826c': 2,
         'd7ae6d0c-c68b-4848-b99e-403d689a299c': 2,
         'b56211c8-cb1f-4b15-8c84-67bd8139f7b6': 1,
         '89775bc1-339d-4fed-9dd6-ba915a6c3e46': 1,
         'e05a16a8-c1b8-48f0-be92-34ebdd834b72': 1,
         '3c196a34-993d-4619-ba1c-3768a40920e7': 2,
         'f51d0b63-a08b-4850-8400-92a14ab441f0': 1,
         'c6267ed8-25a6-46ef-92a1-2dce60810bbd': 2,
         '2631e73a-a5c7-4c97-81f3-3d066f38b20e': 2,
         'fa09b298-673d-4806-8863-d7c22383a9e3': 1,
         'f1de36ff-5b10-4e8b-81b4-936343b09053': 1,
         '154b5bfa-f2d3-4908-8307-8563883a06fe': 2,
         'dff15fcb-7194-4046-8c94-7fd0acbbd754': 1,
         'ee3b493b-48df-479a-b641-3f3bd7fa205c': 2,
         '4d5e14f8-5ee7-4b3c-bc24-f872f8b9a994': 1,
         '20ee1a31-af77-4864-bd64-260cf7733503': 1,
         'ab7149fc-b650-4b6b-a368-0581f78276ea': 3,
         '5841346b-33fd-4735-9285-d4a3faa365ae': 1,
         '2dc9cc26-03a4-4375-a547-6ef6f28b41a4': 2,
         'a170f42b-7bfc-4129-aa40-47c0f12cc53c': 1,
         'a169a848-fedd-46a1-958a-2f53802dca0b': 1,
         '7f10e33e-0644-480a-98a1-17cb3a16e3b5': 1,
         '29154236-2eb6-4143-945d-4c7eb5d632c8': 1,
         '727938d3-685d-4224-a068-f606c38282fd': 1,
         '916d06fb-3279-4d2c-b449-c56be1cdeb7e': 2,
         'e09c4a92-2f55-405e-85c9-6aa62c0f9226': 1,
         '45f616d9-e482-4df3-89eb-7d2db6672828': 1,
         'be881043-717f-42c6-aad3-c9ac7a8c279a': 1,
         '7ab44ff1-45ef-4c43-b4ae-870d38f53677': 2,
         'ca7bc456-dd66-4ffc-a395-6e3b4a3bb733': 1,
         '89ecabe9-7768-4cc3-a126-afa0fba1052a': 1,
         'fe166edb-196c-45ed-8602-fc15fdbe4a20': 1,
         '6b42163e-0959-44ad-9a77-5214c2780c88': 1,
         'd23302cf-1d48-4e10-aceb-6f1066319c91': 1,
         '9615a9e5-1963-4f1d-b5e8-7e43e103c286': 1,
         '4e0f8706-9e67-4b08-812f-ceaa54fbd84d': 1,
         'c8ff5fea-4d0a-4a87-81e4-df6c2082aa0c': 1,
         '4157b5ce-9393-4e3b-a697-5f287219c3d2': 2,
         '39587418-fa78-4a09-b3fe-71de8b0fc2f8': 1,
         'd94899c2-7e32-4d72-b128-be88bb266e5b': 1,
         '3407e6d6-975f-4518-a48f-5823d70b3b64': 1,
         'eb47bfc8-ff11-42cd-a48b-1c88aca067f7': 2,
         '1c39e78f-6ded-4b2e-83d6-036ca34ecfdc': 2,
         'a5d4fb88-2cf6-4109-84c6-eea51f29f3e4': 1,
         'deb8fe84-9cae-4697-87dc-75293bb1a558': 1,
         'd754610c-c4ac-46f5-9b02-8067e0f8a01d': 1,
         '15d896a9-b7e8-43ff-8112-e15b858f0214': 1,
         'd7eb5119-a574-43ff-9de7-4c0b84f67d43': 1,
         '4758da03-f56d-4cf6-a58d-17dd3d7d8445': 1,
         'bfc85375-16eb-4591-8f85-9e1b354ba81a': 1,
         'ef69abc9-0439-482e-9b68-2b864ab6f7e2': 2,
         'f6ab80c2-9674-44de-bc0e-02c006bbd986': 1,
         '7d5cb1b9-a223-49e3-9cd3-70ea664a9383': 1,
         'dbc0ff98-e23b-4bbb-b735-a398618bdcd0': 1,
         '025017dc-60b8-4dfa-8e6b-59eb84b868bd': 1,
         'c7123879-75e7-4957-b809-f2f684499b67': 1,
         'cc296af5-8aaf-41da-8651-99553e752ec9': 1,
         'ea93b5ae-6359-4194-9de3-f24b7037184d': 1,
         '4332bb79-8885-432e-a56c-d1324dde1987': 1,
         '5ce12e79-b625-422b-80bd-b7af827e70e1': 2,
         'fb43c980-8fc7-4c9f-8a8a-5f611028613d': 1,
         '3c9ccac9-6180-4e74-993e-c83f15a9b6c8': 1,
         '6ea8907d-684a-4d09-946a-4507c41fc047': 1,
         'a505da80-6d85-47ac-875a-53d58a11ace8': 1,
         'ddc20774-b555-44e8-ad1a-4e1f1ad77410': 1,
         '010a4b07-5103-4611-bfe4-7d79ccf17333': 1,
         '3d6c8365-ca24-47c4-ba8a-b3d793b32a27': 1,
         '96d9da9a-e1e0-459e-ba8f-724d51d5b3cf': 1,
         '7fa0ba61-9c69-49cd-9f45-e7f16d89ccb6': 1,
         '762edd55-d72c-4d46-9e6f-53aa2db374f6': 1,
         '0f2c2ebb-a0a5-46ab-8c2f-1d4992997888': 1,
         '3d157b10-e736-4496-a530-5d4f443eea5c': 1,
         'af26be03-c16c-4704-91be-f6e4af54ef80': 1,
         '8c37cc1b-7650-4307-80e7-949a904e2a33': 1,
         '6ebdc246-e8a3-43b6-8a55-40c4789000ad': 2,
         '7b913e7a-cfb4-4383-93c7-ddccbafc8850': 1,
         '9fb1e9b4-9765-486f-ac51-4444213e39ca': 1,
         'b323a494-40c0-4522-8d63-4d4d591a1def': 1,
         '3c94e328-9fb6-44d8-baa8-46a81e214ceb': 1,
         '9a192e4d-473f-4f81-af68-1b422bd814f6': 1,
         '720868c1-3d34-44a7-a23e-6c4a0fac609a': 1,
         '582e6abb-dd9a-42fa-b441-455eac28327e': 1,
         'd3364cf3-46cc-4e64-ad11-70a069f7c049': 1,
         'f76609c8-ba5d-4818-9b57-097debc90cab': 1})

In [23]:
# удаляем дубликаты
users_df.drop_duplicates(inplace=True)
users_df.head()

                                user_id   role
1  e28351f5-4ccb-4549-8647-d43f2b15e7b8  pupil
2  4df2832a-1d63-4453-9659-43993fc35996  tutor
3  bb1c0bc8-1212-452b-97a0-439d4a2169e2  pupil
4  63441abe-c4da-4275-ba26-66f7dbd65dde  tutor
5  a1323b68-c82c-429a-8e2c-65597e648c1a  tutor

In [24]:
users_df.shape

(268, 2)

#### УРОКИ
Файл **lessons.txt** содержит следующие поля:

- id – уникальный идентификатор урока
- event_id – идентификатор, связывающий уроки с файлом participants. У нескольких уроков может быть один и тот же event_id
- subject – предмет урока, строка
- scheduled_time – время начала урока, в формате ГГГГ-ММ-ДД чч:мм:сс (иногда есть еще миллисекунды). Время указано в UTC

In [25]:
lessons_df = pd.read_csv('lessons.txt', sep='|')
lessons_df

,id,event_id,subject,scheduled_time
0,--------------------------------------+-------...,NaN,NaN,NaN
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114.0,phys,2020-01-19 12:00:00
2,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568.0,it,2020-01-19 13:00:00
3,62e1a078-33de-47c1-99d2-845b1daca56f,52790.0,hist,2020-01-19 13:00:00
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341.0,phys,2020-01-17 12:00:00
...,...,...,...,...
375,056c3d91-dce7-4071-91d3-1de816ee63a3,51001.0,hist,2020-01-17 12:45:00
376,c64a1daf-d7f5-4c8c-ac9f-df634d77327b,50304.0,bio,2020-01-11 11:00:00
377,aa7702bc-5271-469c-a1c2-b7e814fd7e20,49880.0,bio,2020-01-16 15:00:00
378,8643fa00-217a-42ae-a27d-e6f47c0501f1,55449.0,bio,2020-01-19 12:15:00
379,(378 rows),NaN,NaN,NaN

In [26]:
lessons_df.dropna(inplace=True)                                # удалим строки не несущие информацию
lessons_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 1 to 378
Data columns (total 4 columns):
                  id                      378 non-null object
 event_id                                 378 non-null float64
 subject                                  378 non-null object
       scheduled_time                     378 non-null object
dtypes: float64(1), object(3)
memory usage: 14.8+ KB

Пустых значений нет, нужно изменить названия столбцов (убрать пробелы), изменить типы данных: для event_id - целочисленнный формат, для времени - формат дат по московскому времени.

In [27]:
lessons_df.columns = ['lesson_id', 'event_id', 'subject', 'scheduled_time']                   # название столбцов
lessons_df['event_id'] = lessons_df['event_id'].astype('int')                                 # целочисленные данные

In [28]:
lessons_df['scheduled_time'] = pd.to_datetime(lessons_df['scheduled_time']).dt.round('1S')    # округляем до секунды
lessons_df.head()

,lesson_id,event_id,subject,scheduled_time
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 12:00:00
2,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568,it,2020-01-19 13:00:00
3,62e1a078-33de-47c1-99d2-845b1daca56f,52790,hist,2020-01-19 13:00:00
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00
5,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00

In [29]:
# время по Москве = UTC+3, оставляем информацию о дне проведения урока
lessons_df['moscow_date'] = (lessons_df['scheduled_time'] + dt.timedelta(hours=3)).astype('datetime64[D]')  
lessons_df.head()

,lesson_id,event_id,subject,scheduled_time,moscow_date
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 12:00:00,2020-01-19
2,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568,it,2020-01-19 13:00:00,2020-01-19
3,62e1a078-33de-47c1-99d2-845b1daca56f,52790,hist,2020-01-19 13:00:00,2020-01-19
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17
5,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00,2020-01-19

In [30]:
lessons_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 1 to 378
Data columns (total 5 columns):
lesson_id         378 non-null object
event_id          378 non-null int32
subject           378 non-null object
scheduled_time    378 non-null datetime64[ns]
moscow_date       378 non-null datetime64[ns]
dtypes: datetime64[ns](2), int32(1), object(2)
memory usage: 16.2+ KB

In [31]:
lessons_df.duplicated().sum()

0

In [32]:
lessons_df.subject.unique()

array([' phys    ', ' it      ', ' hist    ', ' bio     '], dtype=object)

In [33]:
lessons_df.lesson_id.unique()

array([' 1e7bb408-cfef-4a9f-8328-351c9483a64c ',
       ' 6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a ',
       ' 62e1a078-33de-47c1-99d2-845b1daca56f ',
       ' 00fc6685-f53a-49bb-b960-5e0042fd3852 ',
       ' 4cadf623-82e6-422f-a342-acf978302fb2 ',
       ' f3f15fee-ad91-429c-8b1e-faeb42f78f58 ',
       ' e597a79a-3f68-4d15-bc77-c7000bcf8e52 ',
       ' 44e2e74c-8481-41a2-bd64-f6af688169b7 ',
       ' ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17 ',
       ' 7d56b43a-d137-446d-8570-8d7d5ccbaee9 ',
       ' 38a8b0ea-ff54-42cf-ab5b-742700ffcd0a ',
       ' b1a122d7-b1c3-43c9-86e1-ec5e40456a3b ',
       ' d8816fa1-dd30-4a4b-8bd1-32285dec279f ',
       ' ec953406-b4a3-416a-b1b6-4c4853995047 ',
       ' 952674d6-5d00-4797-95f7-6686014a6b65 ',
       ' 7c60dff9-7145-4a89-8310-e5ad951f7758 ',
       ' 84adb28c-182d-4c9f-b5ef-4f8138368d85 ',
       ' 36e05c76-2e4d-46d8-bd3b-fdcfa98b962b ',
       ' 59e1a7df-46bf-4415-a711-67912df0f64a ',
       ' 4fd4f095-a793-4375-82e8-7250dd5036b0 ',
       ' cf2dcbaf-06fb-4365-b34a-9c0858aa8098 ',
       ' 25387158-4669-405f-b5e5-c9bb00b82686 ',
       ' d55749ed-5c0f-45f0-ad82-d3f908b31750 ',
       ' 0e30fdbd-2af7-40c7-8f38-336c9d8512f3 ',
       ' 06277d4e-db4a-4fa0-b9f8-b1063088ad75 ',
       ' 68b78f3c-8ec7-43e6-97df-3b667b692735 ',
       ' 7971b2cc-921c-478d-898b-055f24a3ea4f ',
       ' b76a2201-61cc-4a0a-b4b4-79de223f0dfd ',
       ' e81fb3ec-cc64-4b68-bf37-3166fdf9cc4b ',
       ' f45e03f0-2fce-45e4-8e6d-c002836f7a83 ',
       ' 3beb41b9-4718-49e7-b8c3-ae8231f2494f ',
       ' 88358f7b-9e2e-4e09-b454-b496c1fd6c6f ',
       ' 546846b7-c712-462e-b085-3d49f178f156 ',
       ' 7cfeb47b-e82a-451a-8fa5-b1ad04ab0d32 ',
       ' cb4da1e0-ba8f-443b-bd57-83f18d9e1e5b ',
       ' 809b1ff3-1bd8-40df-8d1d-a02fd4663fc1 ',
       ' 472f43db-d10f-4724-822f-13109a46ef57 ',
       ' 8d5309cf-0389-4666-9753-b05c2be6ca92 ',
       ' b2a4f15a-3f88-40b1-9481-9d6c325133da ',
       ' 4dc61644-1742-495b-887f-f2cf619923ff ',
       ' e4bceee9-afd9-49da-b02e-b9fed1c2edee ',
       ' a48f35b9-7df3-49f6-b2d6-bad0a04902a7 ',
       ' f0a766fe-155e-47a0-b81b-25274b938c82 ',
       ' 532375c0-6e91-493c-9ebd-dcbfbb3650ce ',
       ' 9926dee3-690e-40c5-a99a-83100997d135 ',
       ' f197bc6a-96b6-4400-8f44-b0ad845b51ce ',
       ' 2354a2f2-fecc-4be0-8be6-983beb58f4b1 ',
       ' f8453e66-402c-47ae-bebc-57f78711691f ',
       ' 13612a4d-ab26-4c3a-ad28-1b3df22775db ',
       ' a87ea620-ec76-4137-ae59-43547fa078e3 ',
       ' cfcdf998-010e-4779-b023-7aafa6da7196 ',
       ' 1721ee8e-5c4d-4bfc-82e2-42a6a13938cc ',
       ' 5fdde4b2-a2a5-4c5a-b5f6-0c6a4b798db5 ',
       ' e71bb14c-4065-4636-b458-ba8f3b02b7a3 ',
       ' 8a1b5817-e69e-4da2-b590-4c952c63e709 ',
       ' 0f508f97-931f-430c-92dd-f1ba004c9f21 ',
       ' 6e567835-2cb0-4e53-8f26-3e878d6a38de ',
       ' 883e272f-c15b-4bf7-8066-f4a8e1862249 ',
       ' 3123485b-f8ad-49ac-9636-6d5534f04f8b ',
       ' 05a93eb6-a458-44ef-afa6-3a0097319908 ',
       ' 388d7bef-cb56-4af0-a976-7b9afdeaf893 ',
       ' 1f88bf01-002d-45f8-86cc-923014f15561 ',
       ' 941e81ec-d2ec-4bc3-83dc-3f29e252eed5 ',
       ' 9b53d173-1937-40d7-abba-0ca060c6dc20 ',
       ' 4fd4f01e-04d3-4048-a91e-0f863bccf843 ',
       ' a2f3829c-aa78-4721-9243-0b2472c57e96 ',
       ' 0fffa174-fd7c-4266-ba9a-0ad5702853b3 ',
       ' dc341ca4-5ae8-4110-be89-c4763414f98e ',
       ' d02cb3a6-2e65-4f78-9f0a-013015af048c ',
       ' 3b036097-26ee-4637-9a27-2f59db39a684 ',
       ' dde47969-7110-4d74-b104-4d158ec260bb ',
       ' e0751a57-06ae-4ec0-9364-1a855ce99d39 ',
       ' 63fc0bcd-5ea6-448b-b0bc-23e2927de031 ',
       ' 4e35883f-60d1-445e-8a1c-71861fe5b4e0 ',
       ' 70493be7-80cf-4f9f-b452-de6658c9b58f ',
       ' 36dbac4e-c2f3-40d9-800d-955bef36fbcd ',
       ' ecf338aa-2007-4340-b9ae-c4636e34730b ',
       ' 4bc398db-78a2-4994-a6bd-85b6ba6b67ab ',
       ' 69131767-f538-4305-ad4d-2f854f64e210 ',
       ' 5f4a21db-9e84-4b31-88c4-d212ea1f34c9 ',
       ' 4b8d1d83-3cce-4a98-8cae-9bd38f6b2a8f ',
       ' aa408d50-596d-4daa-bebd-56beaaa1ad74 ',
       ' 8d20db8a-e147-493e-a1b5-11b7f708e78c ',
       ' 28229364-321a-46f7-a683-2a039d649389 ',
       ' 3cd672c4-5f4f-4cac-a4c3-670a26847fd2 ',
       ' 4b0ba959-8caa-4399-b6b9-018971e006ef ',
       ' 7249f33f-2a68-47dc-9d29-93d0b42b18cf ',
       ' 7e675537-6a7b-48ab-9bb8-6e2ddb3cd7b6 ',
       ' 9650db5f-2a27-4cd7-b509-aa3b05b8dade ',
       ' 3d6329b4-f5f5-4f52-857a-b8ee1222922d ',
       ' e33d0d1b-82ed-4379-b81f-088a52795724 ',
       ' 4e66b61e-73e4-4ee4-89a4-bac4fadb6de2 ',
       ' 5521fa1d-9525-4bfa-addb-d3cc711bb043 ',
       ' 598ac7f5-175b-4f44-ae98-8e5e186cf3ce ',
       ' 01f717d8-baaf-427d-a927-08c79713ae79 ',
       ' 7947621f-5682-4e02-a8f9-6e10ac625527 ',
       ' d83694d5-1b3c-427c-856e-af41caa849ca ',
       ' b02f5b6c-a0f0-4125-9aad-11ab1d0e015a ',
       ' f54a6091-afbc-46fb-bfa0-905df7a6f92c ',
       ' fc7b37a2-aced-464d-b857-8f41b1b67abc ',
       ' b46f4f18-bb11-431e-b017-72ebb3c1a13f ',
       ' 13c527f8-600e-4ba9-adc4-34c8fe65ac7a ',
       ' 498f3d22-20f5-4778-80dd-5df6fe75c6d1 ',
       ' 3d6f72cb-c257-4d0b-aeac-75d353fd85d0 ',
       ' 1b3dced1-2b80-493f-9393-286985342201 ',
       ' 0f818a79-8104-4ff0-98cc-3d0f367671bb ',
       ' 68a882db-212f-488b-89bb-dd635c2a880e ',
       ' 2e3dc18d-7768-4384-afbb-0b92c4a482d1 ',
       ' 2e3b1173-7edb-4737-9500-a23d7b852518 ',
       ' a240f656-3c9c-4710-b71b-9ae28701d6d8 ',
       ' b6ac2862-a50f-4950-9ed0-b914941304ed ',
       ' 2e1cef67-f1ae-4fe9-b1e1-1c5766d57d69 ',
       ' 98c36984-e0ed-4618-a65c-e711286816d4 ',
       ' 86f9f4bd-f039-4243-971f-c5b871a6106c ',
       ' 7335637c-0259-40a8-a21a-56fff3e02063 ',
       ' f33fbd23-ceb4-4f6c-bb98-aec0c029483f ',
       ' f174b159-de46-4ce4-87ce-1e23f0140a3c ',
       ' b552b0ae-8ad5-45c7-b05b-8d5e66c784f6 ',
       ' d092c2b5-02b5-4140-9fe1-842e502831e0 ',
       ' 8ac45e70-44ff-41d7-9169-fb72b0fbda09 ',
       ' 9894c924-65b1-4463-98f6-85748929d7ef ',
       ' e4305046-053d-4a41-9dba-7128a45ebc39 ',
       ' bf0c5d55-782f-4645-9de8-2e0e5ce49f77 ',
       ' b937d0ce-4bc9-4b22-90bc-21ca1e34e316 ',
       ' 611b1c91-960c-4244-8fe7-dcc78ebf10b0 ',
       ' 13df276a-48ef-46c3-8fed-7143c7a2b0bc ',
       ' 628682df-06a0-453e-aede-007a0b11bf1b ',
       ' 6d16366e-21ca-45f3-acbb-ba6c2e241b1e ',
       ' d947d1c3-1ea6-425d-b223-cae66b7a0583 ',
       ' 49aa8d13-fab5-461c-a233-3a1cf7f67f90 ',
       ' b2b95218-2b98-446e-92fe-55fb2e628e7b ',
       ' a14c3cf7-fdd7-47c0-a8fd-99d7a9093086 ',
       ' 53da6f0e-2b4d-482b-bbbe-a0a5d090bdc5 ',
       ' 7a5b2148-bf74-491d-b420-ee3ef3de8fad ',
       ' 32b1159d-a7a2-49fc-a9c6-43c66ec062c3 ',
       ' 93610622-4bdd-476d-9f3c-32809c8367b1 ',
       ' 55d7350f-64e4-4a7e-b0de-3a0b468926c3 ',
       ' a50ccb35-5e52-4b00-94b2-f0befd6b5c45 ',
       ' e8eef38c-81dd-4bc2-95f9-d4cc532b54bc ',
       ' a4ae920f-f67c-48b7-958b-abe00136666f ',
       ' deb32d69-cebb-4021-baf4-17607fc2a085 ',
       ' be17b71d-654c-4dbc-8df6-76d6e24218d1 ',
       ' 48629b8b-5593-43bd-be5f-b6e2cb5ed51d ',
       ' 3ec98f71-5ed0-4b7b-98a3-6b04669dcc8c ',
       ' 14827248-8fcf-46ae-a6f1-eec6b7dd9fec ',
       ' a59b43e7-4cfc-43c6-be3c-e986a726a3c8 ',
       ' a93bd8b0-6573-432b-97fa-49685b8e9819 ',
       ' 212f3652-c93e-4884-afa1-5a13a92c6815 ',
       ' 4c69c32f-c77d-493d-ab2c-5f918c0bbd35 ',
       ' 71b39b6b-e3f4-479b-b102-100f98c30ca6 ',
       ' 21b2f863-71b6-4186-89c4-0e17944d3dc0 ',
       ' 0e3f2588-18f2-4721-87f5-1eb91f35800d ',
       ' a5b642ee-0003-4a59-8778-acdb7b3af7b3 ',
       ' f859dab8-b5e2-4413-9ea5-e074d1efa929 ',
       ' 59413cc1-83af-4cfb-b1b9-1e7dd06482a1 ',
       ' caa8c8ef-eaea-4e99-9d0b-cb363b542eaf ',
       ' b1007e8d-ef50-46d7-9f10-791746da54be ',
       ' bdeb6dd3-c066-49f9-b16b-31223794c5b3 ',
       ' db716180-2c7b-4320-ada2-035988bc9dde ',
       ' f69be6cf-b277-4831-98bd-f7d1c038e64b ',
       ' aedb6420-b5ad-4126-9590-83830b83245e ',
       ' 29096068-d375-4611-a169-58900f012f57 ',
       ' e01a9a0b-8623-42ab-a3ee-30cb12823b85 ',
       ' aa547860-c868-408b-9eba-2202fbcb7ee9 ',
       ' c013767a-cfda-4dd6-95f9-f5c9a98251ac ',
       ' e4c4092e-424f-4d4f-9990-cb0514200040 ',
       ' 69efcf1f-e9d4-4446-b3c7-cf51172ca267 ',
       ' b00c97a4-8d9f-4379-b663-3d3385b4b942 ',
       ' d94e162d-45fb-41ca-aa60-748345740dcf ',
       ' 8c71bab6-0054-4ac6-b384-dd9d3f1c59f5 ',
       ' 627235b6-4450-4595-b72b-f010a0066434 ',
       ' 16e7af0d-6d0a-46d1-8e7c-378d918312ae ',
       ' 67701cfc-a458-49a5-b12f-fd7476b06884 ',
       ' d330a272-a64c-4af2-a9b0-08037a5dc961 ',
       ' 209aaa4c-8338-4601-8549-a42215da783b ',
       ' 3fcde12f-8244-429c-8acd-cb41b85b9567 ',
       ' 7a15af58-39d0-4207-bfdf-3fa176b7fb4e ',
       ' 1142e4b7-4c9b-454e-9bd2-935574ce6d92 ',
       ' 95a6192a-294c-4a0d-aea6-196d6af22162 ',
       ' 07dc73af-c1be-43cd-b74f-67e0a856b49a ',
       ' 223692be-1d8a-4aac-b207-3eb26a53d6fd ',
       ' 0ed9bb4d-1b37-43ef-9c92-158ca3d93ac6 ',
       ' b8c62eaa-aced-4f9d-b27b-28fa787b5c45 ',
       ' a879c164-e626-481e-bcc1-61a38272371c ',
       ' 98d49ed5-2b57-47d5-b734-777d7995bf65 ',
       ' ba984b93-8a53-4fae-a23e-87f1d7ebce9d ',
       ' d5cd8442-739f-4b8b-b81b-6004c277b248 ',
       ' 35ea5fbc-e4cc-4ea1-8214-5550a90c0e9b ',
       ' 1ea14ec4-3783-4361-8e09-9880bf3da18b ',
       ' 80744268-0e67-4931-b45e-335f396e6e4c ',
       ' 8eb04bd6-770e-4644-9ff4-2c67b939a9d5 ',
       ' 70fc6a1a-6e0a-4d0e-b74e-a9ff384d1b3d ',
       ' 418f7b3b-bcea-40c9-bfab-a292fd176a58 ',
       ' dce17f16-21f8-4210-9b59-e6020c8f4d2e ',
       ' 21979810-063d-4871-9752-142151526878 ',
       ' de6d6c95-72c3-4671-b64d-6df0bfe205ab ',
       ' c8efc924-4f9e-4805-994c-4ca896962312 ',
       ' 2f633c29-5b20-4903-80f6-08e8ac202826 ',
       ' 20eba1c1-6652-4275-a118-edaaac6c0784 ',
       ' 8e1686aa-fce2-491a-b298-75cc8a0a388a ',
       ' db060e5a-5024-452a-a30b-94f486308945 ',
       ' 6cadb935-594f-407b-b60d-706c0e09d408 ',
       ' 5d537e27-d5d2-4e35-a4ff-5198c3eea035 ',
       ' 713e0d4e-82b2-4743-98cf-3dc5385f7c0d ',
       ' ffb6ceb7-7c34-497b-80d5-c997ec696bd4 ',
       ' fde2eb3b-dc83-4306-87eb-f3242d692342 ',
       ' 1a03bdfb-465d-45c8-ae9b-bce6ddcde403 ',
       ' 2e443ace-ad01-422d-a7ab-47cac9bd2dcd ',
       ' d0caf164-59b8-4fd8-aab6-d50873ed412a ',
       ' f8df1c58-8ddc-42e4-93f0-ac44a004c0c8 ',
       ' b1ac7ffd-11e1-4782-90c9-b33a35037683 ',
       ' d196d819-5e0a-42ee-9394-15dc31d99be0 ',
       ' 3611be40-d3b4-4468-8978-e369c20078b5 ',
       ' 9133b936-d21d-4eae-bc81-0187979a60d2 ',
       ' 9e6d4c0c-d69c-4def-9b99-b9a5adcbc652 ',
       ' 6c2555ea-851a-43ca-ba24-638a22da6d6e ',
       ' e71a28a9-7c8a-4567-a2ab-52e14d548e4d ',
       ' 56f5c86d-4d02-409c-8933-2e2a034a128e ',
       ' c789df72-1b25-4908-9b81-9d80cd239c7e ',
       ' 7948ef95-f3a5-4f87-abfd-f10eea21c1c8 ',
       ' 46d00f25-18af-4b64-bcc2-b2e42f784146 ',
       ' 5b6ae64e-9a41-4bdd-980c-71ce12031475 ',
       ' b3c57bb5-af71-4c58-b6fa-2470102131b4 ',
       ' d9c6ea0a-b10d-4c7f-b6dd-d35f024b907a ',
       ' cdc2afbf-b76f-4b0f-afb1-85c3611d9a85 ',
       ' ab0a430e-1ab9-4e5f-a43b-37b8eb0dd6e8 ',
       ' 9dfbf88c-0ffa-4d09-956d-fcb6dde4dd29 ',
       ' d8dd08ce-c8f0-4921-980e-5208d4e10ca1 ',
       ' 72a80561-57b9-4373-a8f7-08cbd58bb246 ',
       ' 2d285c24-0ead-4ead-b42b-40c9fb340425 ',
       ' 31aa59f2-2969-444c-88ab-17c00380f235 ',
       ' 6fbc1aac-57e2-4517-9ec8-69adea85b34a ',
       ' 3dbf4b4f-5867-4be1-9aa9-27e885dea75e ',
       ' 19053020-e4a9-489e-b6a9-e9c63c539dd3 ',
       ' c16a5571-173f-46b0-9cae-e9c4f25c4cf7 ',
       ' 56b9d6d6-0cbc-4b97-9e17-d217bacf9efa ',
       ' bea2a3d0-ccc8-4d3a-b4ae-021773778ae8 ',
       ' c2597752-f95b-431e-871c-02b9f3035add ',
       ' c31f4a30-a9fd-4daf-bf28-bbf797f9e806 ',
       ' 8e072443-cecf-480e-80f6-fe7dfab6e04d ',
       ' 6176232c-8816-4311-ac4a-d422a16177f2 ',
       ' 40f6006e-274c-47ad-8ac8-3ecef024ad9b ',
       ' 45f616d9-e482-4df3-89eb-7d2db6672828 ',
       ' cff08c0b-6ed7-45ba-bf75-e7a433f9abac ',
       ' 17af6a49-3059-4f87-b2ee-e6a4978f37bf ',
       ' 2e065d95-0fcb-42f4-92e0-7cd9d1c81e9c ',
       ' 5ac6024b-8888-47a9-b3a5-c4fae83014dd ',
       ' 38be305c-f16f-4e93-9073-4bd3ca160569 ',
       ' 63675085-d7b5-4d06-8ac0-2de3d55dd4b0 ',
       ' 431fd117-0ab5-4613-8998-bbd44f6d7b43 ',
       ' ed53f33d-e5bd-418b-9128-8c03beb7b8b9 ',
       ' d35461ea-73b6-4fba-bdb8-94de264cc22b ',
       ' 26ac555e-6bb4-410e-bfcb-47386479ce9c ',
       ' 42e78680-8e1b-4ad9-b165-70d79fd3a987 ',
       ' 8a75c548-d37a-407b-8234-4b25714bc316 ',
       ' 453aa2b4-bd4a-4269-b2c8-d31ef115be7a ',
       ' d1721b21-d1c0-4fc6-a86d-359d698b6aee ',
       ' 714fdff7-8889-461e-8260-fcdef98680d8 ',
       ' 87a2bde5-44dc-4d4b-8891-65c6b007b2be ',
       ' 3f1857eb-8aed-46c2-a55f-2c85d99661dd ',
       ' 8a7a2c82-f327-4789-add4-4f73053e688e ',
       ' 6233a307-48f9-4e02-9f06-5116c53824b6 ',
       ' 11c361e7-4568-4ae2-8c00-5795658d5d9b ',
       ' 28e0ed29-80a8-403e-bdde-5df37217723c ',
       ' 194d6536-8724-4798-98ed-5fa93c51e909 ',
       ' 54bb4551-b9cf-45d4-b311-0d639a76483e ',
       ' d7602269-9cfe-467f-88ab-ec3bb32422e5 ',
       ' fb6b1fbf-7512-4bc7-a9c5-dc23dd4dd550 ',
       ' 359d4361-e22e-488c-b66b-434ab4cf1758 ',
       ' 4157b5ce-9393-4e3b-a697-5f287219c3d2 ',
       ' f8ea079b-c8e9-47a6-9970-642c08284641 ',
       ' 6befef97-abf1-49e0-aa22-de3af623100d ',
       ' 916d06fb-3279-4d2c-b449-c56be1cdeb7e ',
       ' e3b40613-d6ca-41f2-a7b4-d6eabe3247e0 ',
       ' 577ae94d-45c8-4804-9a50-40e91048d81d ',
       ' 238aa827-90a4-47ee-8e2c-fad396456f8d ',
       ' 1c32ffdf-bf79-411e-86ce-f9cc2ae24190 ',
       ' 1c39e78f-6ded-4b2e-83d6-036ca34ecfdc ',
       ' a3bee89b-047c-49d2-bdd7-fc11581772b1 ',
       ' f0dc6435-266a-485e-8c3c-b07ad5fe5d29 ',
       ' f10f0d29-57c5-4031-b598-f71697e5dddc ',
       ' 29084101-d715-44b2-9f72-debe451a69f7 ',
       ' 672e3db6-3d46-4995-87f7-aea08252514f ',
       ' 2f7069d8-39a2-4430-a6f3-63c0e3ee0349 ',
       ' a50ec355-16eb-431a-883d-73b7de1714ee ',
       ' fed2a11f-7be2-489b-9e69-80adec286c3c ',
       ' 4ba448f8-e3b6-4a8c-8e30-edf6d606b7f0 ',
       ' a91f4c96-bc1d-4c8c-84c5-f0989cbc79e3 ',
       ' 955275cb-4b25-4b70-aeb8-12885e76f03c ',
       ' 4c4212ed-7c6e-48d0-bd54-81ed85199676 ',
       ' 415840fe-fa6e-4392-b918-d38e6647e91c ',
       ' 49f8305e-559c-49a4-a4b5-e6c488fd52fd ',
       ' 175fb366-4474-40eb-a476-c441825da598 ',
       ' ff0bded7-5a4b-4733-87af-55f77810ebd1 ',
       ' fe5e055f-6615-488f-88a7-8bcc1a9cf8aa ',
       ' adde00a5-5e7c-4a5f-8927-0a251e9f68d3 ',
       ' a56e9490-98d9-4d06-91c1-f89c6f9166f0 ',
       ' dfcdb2ec-79ef-4ad8-9af5-c88c84d8126c ',
       ' 024d415a-4543-4e73-88c6-f4609e1bf1ed ',
       ' 229bfe6e-e21d-400a-aa9e-6575254f851e ',
       ' c25767a6-804e-4134-9826-706dfb3097a4 ',
       ' 5894e11c-afe6-4f04-a42f-873dc3459878 ',
       ' f2590771-3084-4574-a286-3ac3bb19606e ',
       ' 39e92e51-d9ea-49df-ad69-5d5ff26df882 ',
       ' be27698c-ca5d-4957-bc68-094ffcb42062 ',
       ' e22895b3-5e25-4328-b0c7-44e90297907f ',
       ' 4758da03-f56d-4cf6-a58d-17dd3d7d8445 ',
       ' 03f4f4a8-c60c-41d7-a1cb-17b2d36ee183 ',
       ' ba2d7840-0e33-4752-bebb-9bbb60ad248b ',
       ' 33876cb9-efc3-4527-aae1-50c817782cbe ',
       ' e5506c91-cb0e-4629-acc5-8b84c9276cd6 ',
       ' 1ebd79eb-2dde-45b9-8edb-8014f6590600 ',
       ' fdff5edb-a59e-45fc-9885-c83111e64de4 ',
       ' 6538869f-f37f-442e-b44c-cca3cefca93b ',
       ' 5b530783-58fb-4100-8c0d-eae1a8ac66cf ',
       ' ec26ba09-bb8d-479c-86f8-9b2d98e6fdec ',
       ' 17b1c9db-ab78-4cfb-8a81-5995d8e72b7c ',
       ' 08308cd0-344a-4283-81ca-505bbb2d28eb ',
       ' 84fa104f-4f17-4277-b281-809c80755355 ',
       ' 20844ed3-2290-4b0e-a4c0-4c7f08741edc ',
       ' c7123879-75e7-4957-b809-f2f684499b67 ',
       ' b35ef7d6-abd7-4517-b4d3-64b4a714899f ',
       ' 7c27308f-a29a-4eb3-ab7b-959843b610ee ',
       ' 09f8a1eb-682b-423e-ba2e-ebd1864eeffb ',
       ' 0a29584c-f25e-42cf-a169-c61021f16529 ',
       ' d20e803d-9780-4435-b7d7-d5d311e2bbb0 ',
       ' c74725b4-9b6c-4e4d-9dec-55d9b56caf42 ',
       ' d69040f2-81cf-4416-a84d-465680aa517f ',
       ' 08e6ca94-584d-40f0-ad7d-eb2fa5690d12 ',
       ' cc5ae3de-f54b-4c22-9f97-a7a341403dcd ',
       ' 45f0f1c1-096c-4df1-a9ea-2c98440747b0 ',
       ' 37598ae9-a328-43d9-bab5-2f948bf0abe1 ',
       ' df0fa90b-e781-463d-8a7c-01c7fe4db92b ',
       ' 58cf91d3-5179-4adb-be4e-cd097eba8fa3 ',
       ' cc5a74f3-5752-4b16-9923-5594a5907fb5 ',
       ' 160d0426-867c-4d68-9bf5-85c75e2ecbf2 ',
       ' f1cc6b0a-44a8-401d-b0e0-363af44d09fd ',
       ' eef3a05f-be38-4b9b-aa46-daf36f8b02eb ',
       ' da457e00-f129-4cc8-963b-259ce6a953fc ',
       ' b709e8ba-b5b5-46bf-8295-ceb04ab54106 ',
       ' e1500a1e-7cb6-4862-97f7-060b71cac3c6 ',
       ' 1a470b2b-054c-4c3a-b77b-c4aaba4c16cb ',
       ' 30448ec1-d331-444a-822b-7032fd65c24e ',
       ' d65abfab-291d-44f8-9426-e9553a89be84 ',
       ' b0c90140-3cdd-4281-857c-fd6bc3466682 ',
       ' 456e25aa-901d-4016-9dc7-87c3447e3d40 ',
       ' 43ed0923-aa37-41f3-901d-fde2180a8040 ',
       ' 4d1025c2-db88-47cf-a5cd-e52347e147cb ',
       ' d345ec91-68e7-4be5-8513-afe61353c6e8 ',
       ' 33a15f34-d2f9-49e2-a2fb-fe36fcf0c7d8 ',
       ' 65195cdf-fec7-48f8-986f-1415f5a70272 ',
       ' 8c8fef6e-62ac-4801-add9-2c0f22f343ff ',
       ' 40d022d4-825a-4816-859f-92e30d029894 ',
       ' ffea312b-e74e-434e-ba37-fd53f5dbb9e3 ',
       ' 48ec2746-fc6b-4814-a37a-706fb1078b66 ',
       ' ebdb51c5-3980-4364-8e9f-9a8d4d26f999 ',
       ' e0c4c3dd-05c8-480a-afb7-1dcf1109bc71 ',
       ' 694bce79-3f66-4d1a-a6c5-e8bdaddc869e ',
       ' 779845a0-d3fa-44d9-b789-30d3d61cf46e ',
       ' cc4020f6-9fe4-430d-8237-3710614275c1 ',
       ' 45a4ff5c-8778-4ddc-99c4-e4a9cca3e1aa ',
       ' 9ede2f56-9d3d-43dc-85ee-7f5a5ea509c9 ',
       ' e0d57734-07b0-4158-b442-716955f6175c ',
       ' c9d86029-8ae5-4ce3-8536-d64383f31f64 ',
       ' 2f3c2e0a-e188-420e-ae83-8673ea692d66 ',
       ' 459ed706-9310-477f-9f51-7a290b28b6a8 ',
       ' e90f529b-1061-4efd-9bba-f73ecee2ef27 ',
       ' f0002160-e57e-4e90-ac7e-c8fcdbbae26f ',
       ' 8a1bac54-c5c6-47c9-8fdb-36d01384eaae ',
       ' 457accf4-bd99-4b9d-b540-ef200e65afbd ',
       ' ba12a5df-1ef8-4e3d-909a-798958d36689 ',
       ' 403707fd-b110-4216-b678-6dbc92eb6fad ',
       ' 368373f6-e7ad-4bb5-a5ea-073fda7e890d ',
       ' f579351b-177c-4c1c-850a-58bbda8b0b22 ',
       ' 056c3d91-dce7-4071-91d3-1de816ee63a3 ',
       ' c64a1daf-d7f5-4c8c-ac9f-df634d77327b ',
       ' aa7702bc-5271-469c-a1c2-b7e814fd7e20 ',
       ' 8643fa00-217a-42ae-a27d-e6f47c0501f1 '], dtype=object)

In [34]:
lessons_df.lesson_id = lessons_df.lesson_id.replace(r'\s+','',regex=True)           # удаляем пробелы
lessons_df.subject = lessons_df.subject.replace(r'\s+','',regex=True)

#### УЧАСТНИКИ
Файл **participants.txt** позволяет связать урок с его участниками. Он содержит следующие поля:

- user_id – идентификатор пользователя (указывает на запись в файле users.txt)
- event_id – идентификатор, связывающий урок с участником. Чтобы понять, какие пользователи были на уроке Х, нужно найти в файле participants.txt строки, у которых event_id совпадает с event_id урока Х.

In [35]:
participants_df = pd.read_csv('participants.txt', sep='|')
participants_df

,event_id,user_id
0,----------+--------------------------------------,NaN
1,38114,e28351f5-4ccb-4549-8647-d43f2b15e7b8
2,38114,4df2832a-1d63-4453-9659-43993fc35996
3,51568,bb1c0bc8-1212-452b-97a0-439d4a2169e2
4,51568,63441abe-c4da-4275-ba26-66f7dbd65dde
...,...,...
740,49880,8476b612-223f-4c86-9b0b-14bc04759233
741,49880,582e6abb-dd9a-42fa-b441-455eac28327e
742,55449,ad7199dd-3bf6-4d6d-8ae7-448ecf90a4eb
743,55449,d3364cf3-46cc-4e64-ad11-70a069f7c049
744,(743 rows),NaN

In [36]:
participants_df.dropna(inplace=True)                                         # удалим строки не несущие информацию
participants_df.columns = ['event_id', 'user_id']                            # название столбцов
participants_df['event_id'] = participants_df['event_id'].astype('int')      # изменим тип данных
participants_df = participants_df.replace(r'\s+','',regex=True)              # удаляем пробелы
participants_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 743 entries, 1 to 743
Data columns (total 2 columns):
event_id    743 non-null int64
user_id     743 non-null object
dtypes: int64(1), object(1)
memory usage: 17.4+ KB

In [37]:
participants_df.duplicated().sum()

98

так как в базе связывается однозначно уникальный урок с уникальным участником - можем удалить дубликаты из таблицы.

In [38]:
participants_df.drop_duplicates(inplace=True)                                # удалим дубликаты
participants_df.shape

(645, 2)

#### ОЦЕНКИ
Файл **quality.txt** содержит следующие поля:

- lesson_id – идентификатор урока, указывающий на запись в таблице lessons.txt. У нескольких строчек из этого файла может быть один и тот же lesson_id, потому что оценок за урок может быть несколько (в случае, когда и ученик, и репетитор оценили качество урока)
- tech_quality – оценка качества урока. Это число от 1 до 5. Иногда его может не быть, если пользователь не выставил оценку.

In [39]:
quality_df = pd.read_csv('quality.txt', sep='|')
quality_df

                              lesson_id                 tech_quality
0    --------------------------------------+-------...            NaN
1                6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a               5
2                62e1a078-33de-47c1-99d2-845b1daca56f               5
3                62e1a078-33de-47c1-99d2-845b1daca56f               5
4                00fc6685-f53a-49bb-b960-5e0042fd3852               5
..                                                 ...            ...
362              aa7702bc-5271-469c-a1c2-b7e814fd7e20               5
363              8643fa00-217a-42ae-a27d-e6f47c0501f1               5
364              7a15af58-39d0-4207-bfdf-3fa176b7fb4e               5
365              7a15af58-39d0-4207-bfdf-3fa176b7fb4e               5
366                                         (365 rows)            NaN

[367 rows x 2 columns]

In [40]:
quality_df.dropna(inplace=True)                                # удалим строки не несущие информацию
quality_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 1 to 365
Data columns (total 2 columns):
              lesson_id                   365 non-null object
 tech_quality                             365 non-null object
dtypes: object(2)
memory usage: 8.6+ KB

In [41]:
quality_df.columns = ['lesson_id', 'tech_quality']                                # название столбцов
quality_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 1 to 365
Data columns (total 2 columns):
lesson_id       365 non-null object
tech_quality    365 non-null object
dtypes: object(2)
memory usage: 8.6+ KB

In [42]:
quality_df['tech_quality'].unique()        # проверим в каком состоянии оценки

array(['            5', '            2', '            4', '             ',
       '            3', '            1'], dtype=object)

In [43]:
# уберем пробелы, заменим тип данных
quality_df['tech_quality'] = quality_df['tech_quality'].apply(pd.to_numeric, errors='coerce')
quality_df['tech_quality'].unique()

array([ 5.,  2.,  4., nan,  3.,  1.])

In [44]:
quality_df = quality_df.replace(r'\s+','',regex=True)              # удаляем пробелы
quality_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 1 to 365
Data columns (total 2 columns):
lesson_id       365 non-null object
tech_quality    349 non-null float64
dtypes: float64(1), object(1)
memory usage: 8.6+ KB

In [45]:
quality_df.head()

                              lesson_id  tech_quality
1  6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a           5.0
2  62e1a078-33de-47c1-99d2-845b1daca56f           5.0
3  62e1a078-33de-47c1-99d2-845b1daca56f           5.0
4  00fc6685-f53a-49bb-b960-5e0042fd3852           5.0
5  00fc6685-f53a-49bb-b960-5e0042fd3852           5.0

In [46]:
quality_df.describe()

       tech_quality
count    349.000000
mean       4.793696
std        0.650257
min        1.000000
25%        5.000000
50%        5.000000
75%        5.000000
max        5.000000

исходя из условия подачи данных - дубликаты не нужно искать

### Задача

Нужно найти, какой из репетиторов получал самую низкую среднюю оценку качества после уроков по физике за каждый день, и вывести эту оценку.

Примечания:

- Необходимо учитывать оценки и учителей, и учеников.
- Нужно учитывать только тех учителей, за уроки по физике которых в этот день стоит хотя бы одна оценка.
- Начало урока для решения задачи должно учитываться по московскому времени.
- При расчёте среднего значения не нужно учитывать ситуации, когда пользователь не выставил оценку.
- Если у нескольких учителей после расчёта совпадают средние значения, можно вывести любого из них.

Решение должно выглядеть примерно так:

[result](https://www.notion.so/98bcad0395144058ac50c53ae07590aa)

Из базы пользователей выберем только учителей

In [47]:
users_df.head()

                                user_id   role
1  e28351f5-4ccb-4549-8647-d43f2b15e7b8  pupil
2  4df2832a-1d63-4453-9659-43993fc35996  tutor
3  bb1c0bc8-1212-452b-97a0-439d4a2169e2  pupil
4  63441abe-c4da-4275-ba26-66f7dbd65dde  tutor
5  a1323b68-c82c-429a-8e2c-65597e648c1a  tutor

In [48]:
users_df.shape

(268, 2)

In [49]:
tutor = users_df['role'] == 'tutor'
users_tutor = users_df.query('@tutor')    # база id только преподователей
users_tutor

                                  user_id   role
2    4df2832a-1d63-4453-9659-43993fc35996  tutor
4    63441abe-c4da-4275-ba26-66f7dbd65dde  tutor
5    a1323b68-c82c-429a-8e2c-65597e648c1a  tutor
8    30a19496-bdaf-461c-abbc-2709ae520201  tutor
9    43efce48-94b2-4412-857f-223d45969008  tutor
..                                    ...    ...
543  1c39e78f-6ded-4b2e-83d6-036ca34ecfdc  tutor
566  d754610c-c4ac-46f5-9b02-8067e0f8a01d  tutor
600  4758da03-f56d-4cf6-a58d-17dd3d7d8445  tutor
627  c7123879-75e7-4957-b809-f2f684499b67  tutor
730  9a192e4d-473f-4f81-af68-1b422bd814f6  tutor

[65 rows x 2 columns]

In [50]:
lessons_df.head()

,lesson_id,event_id,subject,scheduled_time,moscow_date
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 12:00:00,2020-01-19
2,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568,it,2020-01-19 13:00:00,2020-01-19
3,62e1a078-33de-47c1-99d2-845b1daca56f,52790,hist,2020-01-19 13:00:00,2020-01-19
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17
5,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00,2020-01-19

In [51]:
lessons_df.shape

(378, 5)

In [52]:
participants_df.head()

   event_id                               user_id
1     38114  e28351f5-4ccb-4549-8647-d43f2b15e7b8
2     38114  4df2832a-1d63-4453-9659-43993fc35996
3     51568  bb1c0bc8-1212-452b-97a0-439d4a2169e2
4     51568  63441abe-c4da-4275-ba26-66f7dbd65dde
5     52790  a1323b68-c82c-429a-8e2c-65597e648c1a

In [53]:
participants_df.shape

(645, 2)

Составим базу событий с участием только преподователей - какие уроки вели преподователи

In [54]:
tutor_event = pd.merge(users_tutor, participants_df, on='user_id')
tutor_event.columns = ['tutor_id', 'role', 'event_id']
tutor_event

                                 tutor_id   role  event_id
0    4df2832a-1d63-4453-9659-43993fc35996  tutor     38114
1    4df2832a-1d63-4453-9659-43993fc35996  tutor     38111
2    4df2832a-1d63-4453-9659-43993fc35996  tutor     56195
3    4df2832a-1d63-4453-9659-43993fc35996  tutor     50880
4    4df2832a-1d63-4453-9659-43993fc35996  tutor     51450
..                                    ...    ...       ...
324  1c39e78f-6ded-4b2e-83d6-036ca34ecfdc  tutor     55480
325  d754610c-c4ac-46f5-9b02-8067e0f8a01d  tutor     55441
326  4758da03-f56d-4cf6-a58d-17dd3d7d8445  tutor     55572
327  c7123879-75e7-4957-b809-f2f684499b67  tutor     55660
328  9a192e4d-473f-4f81-af68-1b422bd814f6  tutor     54327

[329 rows x 3 columns]

In [55]:
phys = lessons_df['subject'] == 'phys'                     # только уроки по физике
lessons_phys = lessons_df.query('@phys')
lessons_phys

,lesson_id,event_id,subject,scheduled_time,moscow_date
1,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 12:00:00,2020-01-19
4,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17
5,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00,2020-01-19
7,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026,phys,2020-01-19 15:00:00,2020-01-19
9,ea6f0bf3-bcfc-4555-9b16-cc2cfe722e17,51645,phys,2020-01-19 14:00:00,2020-01-19
...,...,...,...,...,...
367,e90f529b-1061-4efd-9bba-f73ecee2ef27,55490,phys,2020-01-19 08:00:00,2020-01-19
368,f0002160-e57e-4e90-ac7e-c8fcdbbae26f,41963,phys,2020-01-19 09:00:00,2020-01-19
369,8a1bac54-c5c6-47c9-8fdb-36d01384eaae,55881,phys,2020-01-19 15:00:00,2020-01-19
370,457accf4-bd99-4b9d-b540-ef200e65afbd,49007,phys,2020-01-19 05:00:00,2020-01-19
372,403707fd-b110-4216-b678-6dbc92eb6fad,41964,phys,2020-01-19 11:00:00,2020-01-19

Объединяем базу уроков по физике и оценок за урок

In [56]:
lessons_phys_quality = pd.merge(lessons_phys, quality_df, on='lesson_id', how='left')
lessons_phys_quality

,lesson_id,event_id,subject,scheduled_time,moscow_date,tech_quality
0,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 12:00:00,2020-01-19,NaN
1,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17,5.0
2,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17,5.0
3,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00,2020-01-19,5.0
4,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026,phys,2020-01-19 15:00:00,2020-01-19,5.0
...,...,...,...,...,...,...
243,8a1bac54-c5c6-47c9-8fdb-36d01384eaae,55881,phys,2020-01-19 15:00:00,2020-01-19,NaN
244,457accf4-bd99-4b9d-b540-ef200e65afbd,49007,phys,2020-01-19 05:00:00,2020-01-19,5.0
245,457accf4-bd99-4b9d-b540-ef200e65afbd,49007,phys,2020-01-19 05:00:00,2020-01-19,4.0
246,403707fd-b110-4216-b678-6dbc92eb6fad,41964,phys,2020-01-19 11:00:00,2020-01-19,NaN
247,403707fd-b110-4216-b678-6dbc92eb6fad,41964,phys,2020-01-19 11:00:00,2020-01-19,5.0

*За какие-то уроки оценки не ставились*

**Объединяем базу уроков по физике с оценками за урок и базу учителей**

In [57]:
lessons_phys_quality = lessons_phys_quality.merge(tutor_event, on='event_id', how='left')
lessons_phys_quality

,lesson_id,event_id,subject,scheduled_time,moscow_date,tech_quality,tutor_id,role
0,1e7bb408-cfef-4a9f-8328-351c9483a64c,38114,phys,2020-01-19 12:00:00,2020-01-19,NaN,4df2832a-1d63-4453-9659-43993fc35996,tutor
1,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17,5.0,30a19496-bdaf-461c-abbc-2709ae520201,tutor
2,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00,2020-01-17,5.0,30a19496-bdaf-461c-abbc-2709ae520201,tutor
3,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00,2020-01-19,5.0,43efce48-94b2-4412-857f-223d45969008,tutor
4,e597a79a-3f68-4d15-bc77-c7000bcf8e52,53026,phys,2020-01-19 15:00:00,2020-01-19,5.0,43efce48-94b2-4412-857f-223d45969008,tutor
...,...,...,...,...,...,...,...,...
243,8a1bac54-c5c6-47c9-8fdb-36d01384eaae,55881,phys,2020-01-19 15:00:00,2020-01-19,NaN,c6718d0e-976c-4d6c-b0e0-32c770776567,tutor
244,457accf4-bd99-4b9d-b540-ef200e65afbd,49007,phys,2020-01-19 05:00:00,2020-01-19,5.0,696c838e-c054-4e9f-a51a-50bf5660f364,tutor
245,457accf4-bd99-4b9d-b540-ef200e65afbd,49007,phys,2020-01-19 05:00:00,2020-01-19,4.0,696c838e-c054-4e9f-a51a-50bf5660f364,tutor
246,403707fd-b110-4216-b678-6dbc92eb6fad,41964,phys,2020-01-19 11:00:00,2020-01-19,NaN,8fe03f08-8581-430c-a590-9888ab36deb3,tutor
247,403707fd-b110-4216-b678-6dbc92eb6fad,41964,phys,2020-01-19 11:00:00,2020-01-19,5.0,8fe03f08-8581-430c-a590-9888ab36deb3,tutor

**Считаем среднюю оценку за уроки для каждого преподователя в определенный день**

In [58]:
mean_phys = lessons_phys_quality.groupby(['moscow_date', 'tutor_id']).agg({'tech_quality': 'mean'}).reset_index()
mean_phys.columns = ['moscow_date', 'tutor_id', 'average_score']
mean_phys['average_score'] = mean_phys['average_score'].round(2)        # округляем до двух знаков
mean_phys.sort_values(by='average_score').head()                        # сортировка по возрастанию

   moscow_date                              tutor_id  average_score
46  2020-01-16  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff           4.00
37  2020-01-14  c6718d0e-976c-4d6c-b0e0-32c770776567           4.00
71  2020-01-18  43efce48-94b2-4412-857f-223d45969008           4.25
7   2020-01-11  8fe03f08-8581-430c-a590-9888ab36deb3           4.43
92  2020-01-20  43efce48-94b2-4412-857f-223d45969008           4.50

**Минимальная средняя оценка за урок в определенный день**

In [59]:
mean_phys_min = mean_phys.groupby(['moscow_date'])['average_score'].min().reset_index()
mean_phys_min

  moscow_date  average_score
0  2020-01-11           4.43
1  2020-01-12           4.89
2  2020-01-13           5.00
3  2020-01-14           4.00
4  2020-01-15           5.00
5  2020-01-16           4.00
6  2020-01-17           4.50
7  2020-01-18           4.25
8  2020-01-19           4.50
9  2020-01-20           4.50

**Определяем преподователей с минимальными средними оценками за урок в определенный день**

In [60]:
table = pd.merge(mean_phys_min, mean_phys, how='left', on=['moscow_date','average_score'])
cols = ['moscow_date', 'tutor_id', 'average_score']
table = table[cols]
table

   moscow_date                              tutor_id  average_score
0   2020-01-11  8fe03f08-8581-430c-a590-9888ab36deb3           4.43
1   2020-01-12  696c838e-c054-4e9f-a51a-50bf5660f364           4.89
2   2020-01-13  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff           5.00
3   2020-01-13  30a19496-bdaf-461c-abbc-2709ae520201           5.00
4   2020-01-13  696c838e-c054-4e9f-a51a-50bf5660f364           5.00
5   2020-01-13  b37ccae8-fc31-4ad8-8f55-ca855b23fbf6           5.00
6   2020-01-13  be676776-8366-4c71-8a35-d58014806eb5           5.00
7   2020-01-14  c6718d0e-976c-4d6c-b0e0-32c770776567           4.00
8   2020-01-15  603b8641-c6f6-4d89-ac89-88e50d45aa0d           5.00
9   2020-01-15  696c838e-c054-4e9f-a51a-50bf5660f364           5.00
10  2020-01-15  9b26952c-3470-4032-a9cd-f1e9d4f90ece           5.00
11  2020-01-15  b37ccae8-fc31-4ad8-8f55-ca855b23fbf6           5.00
12  2020-01-16  2fa2ab62-f1b0-4036-872f-bcfd9a8686ff           4.00
13  2020-01-17  696c838e-c054-4e9f-a51a-50bf5660f364           4.50
14  2020-01-18  43efce48-94b2-4412-857f-223d45969008           4.25
15  2020-01-19  be676776-8366-4c71-8a35-d58014806eb5           4.50
16  2020-01-20  30a19496-bdaf-461c-abbc-2709ae520201           4.50
17  2020-01-20  43efce48-94b2-4412-857f-223d45969008           4.50